<h1>Films</h1>
<table class="table" id="films-table">
  <thead>
  <tr>
    <th>Movie</th>
    <th>Director</th>
    <th>Producer</th>
    <th>Release Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let film of films | films; let index=index" [attr.data-index]="index" (click)="navigateTo(index)">
    <td><a href="/film/{{index+1}}">{{film.title}}</a></td>
    <td><span class="sml-label">Director:</span>{{film.director}}</td>
    <td><span class="sml-label">Producer:</span>{{film.producer}}</td>
    <td><span class="sml-label">Release Date:</span>{{film.release_date}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">
      Page <span>{{page}}</span> of <span>{{numberOfRecords}}</span> total results
    </td>
  </tr>
  </tfoot>
</table>




