h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  font-family: STARWARS;
  color: #3F3F3F;
  text-transform: uppercase;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-space {
  padding-top: 2em;

  .content {
    display: flex;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: row;

    .content-right {
      width: 50%;
    }

    .content-left {
      width: 50%;
      padding-right: 30px;
    }
  }
}



