h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  font-family: STARWARS;
  color: #3F3F3F;
  text-transform: uppercase;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-space {
  padding-top: 2em;

  .content {
    display: flex;
    max-width: 960px;
    flex-direction: row;

    .content-left {
      iframe {
        max-width: 50%;
        top:0;
        background-color: #24292e;
      }
    }
  }
}
