.header-nav{
  width: 100%;
  display: flex;
  background-color: #CCCCCC;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  padding: 7px;
  margin-top: 60px;
}

.header-nav a{
  align-items: center;
  padding: 20px 7px;
  line-height: 28px;
}

.header-nav .selected a {
  background-color: #d6e6f7;
}

.header-nav .selected a:hover {
  background-color: #bdd7f5;
}
